@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--brand-yellow: #ffeb01;
	--brand-text: #343433;
	--brand-btn: #e00069;
	--brand-header: #11326e;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--brand-yellow);
	color: var(--brand-text);
	font-family: var(--font-figtree), sans-serif;
}

@layer utilities {
	.line-clamp-4 {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
